<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <appSettings>
    <!-- production licence -->
    <!-- expires 31 Dec 2099 -->
    <add key="license.owner" value="vsoftcorp"/>
    <add key="license.product" value="edtftpnetpro"/>
    <add key="license.key" value="315-4487-4577-5000"/>
    <add key="vsoft_edtftp.log.file" value="logs\\aft_edt.log"/>
    <!-- valid values are All | Debug | Information | Fatal | Error | Warning | Off -->
    <add key="vsoft_edtftp.log.level" value="Information"/>
    <!-- valid values are Yes | No -->
    <add key="autoupdate.xmlconfig" value="No"/>
    <!-- The timeout value is in Milliseconds default 1min = 60000 -->
    <add key="states.db.timeout" value="60000"/>
    <!-- Below is the key to configure service to allow processing of zero kb data for Ready File-->
    <add key="ALLOW_ZERO_KB_FOR_READY_FILE" value="Y"/>
    <!-- Below is the key to configure service to allow processing of zero kb data for Main File-->
    <add key="ALLOW_ZERO_KB_FOR_MAIN_FILE" value="N"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <log4net debug="false">
    <logger name="AFTLogger">
      <level value="INFO"/>
      <appender-ref ref="RollingLogFileAppender"/>
    </logger>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <File value="logs\\AFTLog-file.txt"/>
      <AppendToFile value="true"/>
      <MaxSizeRollBackups value="20"/>
      <MaximumFileSize value="500KB"/>
      <RollingStyle value="Size"/>
      <StaticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="[Header]\r\n"/>
        <param name="Footer" value="[Footer]\r\n"/>
        <param name="ConversionPattern" value="%d [%t] %-5p  - %m%n"/>
      </layout>
    </appender>
    <logger name="JobFileTransferLoggger">
      <level value="INFO"/>
      <appender-ref ref="RollingJobLogFileAppender"/>
    </logger>
    <appender name="RollingJobLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <File value="logs\\JobFileTransferLog.txt"/>
      <AppendToFile value="true"/>
      <MaxSizeRollBackups value="20"/>
      <MaximumFileSize value="500KB"/>
      <RollingStyle value="Size"/>
      <StaticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="Header" value="[Header]\r\n"/>
        <param name="Footer" value="[Footer]\r\n"/>
        <param name="ConversionPattern" value="%d [%t] %-5p  - %m%n"/>
      </layout>
    </appender>
  </log4net>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
